<mat-card>
  <form (submit)="onAddMotorbike(motorbikeForm)" #motorbikeForm="ngForm">
    
    <mat-form-field>

      
        <label> Motorbike Name:</label>

      <input
        matInput
        type="text"
        name="model"
        ngModel
        required
        #model="ngModel">

    </mat-form-field>


    <mat-form-field>

        <label>Motorbike Year:</label>
      <textarea
        matInput
        name="year"
        ngModel
        required
        #content="ngModel"></textarea>

    </mat-form-field>



    <mat-form-field>

        <label>Motorbike Price:</label>
      <textarea
        matInput
        name="price"
        ngModel
        required
        #content="ngModel"></textarea>

    </mat-form-field>

<mat-form-field>    
  
    <label>Motorbike Description:</label>
    <textarea
      matInput
      name="description"
      ngModel
      required
      #content="ngModel"></textarea>

  </mat-form-field>

    <button
      mat-raised-button
      color="accent"
      type="submit">Save Motorbike</button>
  </form>
</mat-card>
