
<style>
  
h4{

 color: white;
}

h2{


 color: yellow; 
}
</style>



<mat-accordion *ngFor="let motor of MyMotorbikes">
  
  <mat-expansion-panel [expanded]="true">

    <mat-expansion-panel-header>

      <mat-panel-title>
        <h2> {{ motor.model }} </h2>
      </mat-panel-title>

      <mat-panel-description>
        <h4>{{ motor.year }}</h4>
      </mat-panel-description>

      <mat-panel-description>
          <h4>{{ motor.price }}</h4>
        </mat-panel-description>

        <mat-panel-description>
          <h4>{{ motor.description }}</h4>
        </mat-panel-description>
    </mat-expansion-panel-header>

   

    <mat-action-row>
      
      <button mat-button [routerLink]="['/edit', motor._id]" color="primary">EDIT</button>
      <button mat-button (click)="onDelete(motor._id)" color="warn">DELETE</button>

    </mat-action-row>
  
  </mat-expansion-panel>

</mat-accordion> 
